#holder {
  margin: 7rem 10rem;
  height: 4rem;
  width: 100rem;
  border: 1px solid #000;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
#button {
  height: 2rem;
  width: 7rem;
  text-align: center;
  padding-top: 10px;
  border-style: ridge;
  border-radius: 25px 25px;
}

#button:hover {
  background: var(--background-color);
  cursor: pointer;
}
